#table {
    border-collapse: collapse;
    border-spacing: 0;
}

.error-table {
	border-collapse:collapse;
	text-align:left;
	padding:5px;
}

.error-th {
	padding:5px;
}

.error-td {
	text-align:center;
	padding:1px 8px 1px 8px;
}

ul.ui-tabs-nav li a {
    font-size: small;
}

.au-title-cell {
    max-width: 50px;
}

.au-td {
	text-align:left;
	padding:3px 15px 3px 15px;
}

.pub-title {
	text-align: left;
    background: #d7d7d7;
    height: 40px;
    position: relative;
}

.column-row {
    line-height: 5px;
}

.column-header {
	padding:1em 1.4em;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 250px;
    background: #d7d7d7;
}

a.pub-title {
    font-size: small;
}

.au-title {
    padding-top: 0.5em;
    padding-left: 10px;
    padding-bottom: 0.5em;
    text-align: left;
	border-left: 0.5em;
}

.status-table {
    table-layout: fixed;
    font-size: small;
    width: 100%;
}

.status-table tr {
    border-bottom: 1px solid #DCE7EF;
}

.title-table {
    font-size: small;
    padding-left: 10px;
}

.title-table td {
    min-width: 100px;
}

.journal-title {
    background: #d5e1eb;
}

.detail-table {
    margin-left: 18%;
	word-wrap: break-word;
    font-size: small;
}

.title-cell {
	width: 20px;
	word-wrap: break-word;
}

.value-cell {
	word-break: break-all;
    display: inline-block;
}

.td-status {
	padding: 5px;
	text-align: center;
	width: 250px;
}

.hide-row {
	display: none;
}

.show-row {
	display: block;
}

.odd-row {
	text-align: center;
	background: #FFF;
}

.even-row {
	text-align: center;
	background: #F7F9FC;
}

.title-icon {
	padding: 0px 5px 0px 0px;
    height: 12px;
    width: 12px;
}

.publisher-icon,
.title-icon {
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 0px;
    height: 15px;
    width: 15px;
}

.publisher-delete {
    position: absolute;
    right: 50px;
}

.agg-value {
	text-align: right;
}

div.au-actions {
    text-align: left;
    padding-left: 15%;
    padding-bottom: 10px;
    font-size: small;
}

div.au-serve-content-div {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
}

a.au-link {
    color: blue;
}

form.remove-au-form {
    text-align: left;
}

input.remove-au-button {
    background:none!important;
    border:none;
    padding:0!important;
    /*border is optional*/
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-size: small;
}

input.remove-pub-button {
    background:none!important;
    border:none;
    padding:0!important;
    position: absolute;
    right: 20px;
    top: 30%;
}

div.au-error {
    color: red;
}

.sub-row-title {
	width: 30%;
}

.sub-column-header-subscribe-all {
	padding:1em 1.4em;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 11%;
}

.sub-column-header-subscribed-ranges {
	padding:1em 1.4em;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 24%;
}

.sub-column-header-unsubscribed-ranges {
	padding:1em 1.4em;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 24%;
}

.sub-column-header-unsubscribe-all {
	padding:1em 1.4em;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	width: 11%;
}

.sub-publication-name {
	text-align: left;
	padding:0em 0em 0em 1.4em;
}

.ui-tooltip, .arrow:after {
    background: #587de7;
    border: none;
    opacity: 0.9;
}

.ui-tooltip {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 7px black;
    font-size: small;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.checkboxDiv {
    text-align: right;
}

tr.column-row td.checkboxDiv {
    background: #d7d7d7;
}

th.pub-title form {
    margin: 0;
}

.checkboxHeader {
    width: 20px;
}

input.submit-button {
    font-size: small;
}

.clear-row {
    height: 15px;
}

div.messageDiv {
    position: relative;
    background-color: rgba(134, 210, 255, 0.56);
    text-align: center;
    color: grey;
    padding: 10px;
    padding-right: 50px;
    margin-bottom: 10px;
    font-size: medium;
    border-radius: 10px;
}

img.messageDivClose {
    position: absolute;
    top: 15px;
    right: 24px;
    cursor: pointer;
    height: 10px;
}

.dot {
    height: 8px;
}

.total-subscription {
	padding-bottom: 10px;
	padding-top: 15px;
	vertical-align: middle;
}

label.publication-title {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

label.publication-title > input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right: 15px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#bulk-actions {
	margin: 15px 0;
}

#bulk-actions-menu,
#bulk-actions-btn {
  margin: 0 5px;
}

#bulk-actions-msg-box {
	margin-left: 10px;
	font-size: small;
}

.success {
	color: blue;
}
.warning {
	color: red;
}

.ui-progressbar {
    background-color: lightgrey;
    border-radius: 13px;
    padding: 3px;
}

.ui-progressbar > div {
    background-color: lightskyblue;
    border-radius: 10px;
}
