<style>
.flex-container {
  display: flex;
  overflow: hidden;
}
.flex-container > * {
  flex: 0 0 auto;
  overflow: scroll;
}
.stretchy {
  flex: 1 1 auto;
}
.column {
  flex-direction: column;
}
html,
body,
.full-screen {
/*  height: 100%;*/
}
body {
  margin: 0;
}
.full-screen {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.full-screen > * {
  flex: 0 0 auto;
  overflow: scroll;
}
.full-screen > .header,
.full-screen > .footer {
  height: 50px;
  background: #555;
  color: white;
}
.full-screen > .main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.full-screen > .main > * {
  flex: 0 0 auto;
  overflow: scroll;
}
.full-screen > .main > .left,
.full-screen > .main > .right {
  width: 100%;
  background: #eee;
}
.full-screen > .main > .middle {
  flex: 1 1 auto;
}

.finished {
  min-height: 0;
  max-height: 10em;
}
.errors {
  max-height: 8em;
}
</style>
