<style>
.stretchy {
  flex: 1 1 auto;
}
.column {
  flex-direction: column;
}
html,
body,
.full-screen {
/*  height: 100%;*/
}
body {
  margin: 0;
}
.flex-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
/*
.flex-container > * {
  flex: 0 0 auto;
  overflow: scroll;
}
*/
/*
.flex-container > .header,
.flex-container > .footer {
  height: 50px;
  background: #555;
  color: white;
}
.flex-container > .main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.flex-container > .main > * {
  flex: 0 0 auto;
  overflow: scroll;
}
.flex-container > .main > .left,
.flex-container > .main > .right {
  width: 100%;
  background: #eee;
}
.flex-container > .main > .middle {
  flex: 1 1 auto;
}
*/

.finished {
  min-height: 0;
  max-height: 10em;
  overflow: auto;
}
.errors {
  max-height: 8em;
  overflow: auto;
}
</style>
