<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE lockss-config SYSTEM "src//org//lockss//config//lockss-config.dtd">

<lockss-config>
  <property name="org.lockss.title">

    <property name="ClockssSpringer2007">
     <property name="title" value="Springer 2007" />
     <property name="journalTitle" value="Springer" />
     <property name="plugin" value="org.lockss.plugin.springer.ClockssSpringerPlugin" />
     <property name="param.1">
      <property name="key" value="base_url" />
      <property name="value" value="http://source-stage.lockss.org/sourcefiles/springer/" />
     </property>
     <property name="param.2">
      <property name="key" value="year" />
      <property name="value" value="2007" />
     </property>
    </property>

    <property name="JournalofMolecularMedicine83">
     <property name="title" value="Journal of Molecular Medicine Volume 83" />
     <property name="journalTitle" value="Journal of Molecular Medicine" />
     <property name="plugin" value="org.lockss.plugin.springer.SpringerSourcePlugin" />
     <property name="param.1">
      <property name="key" value="base_url" />
      <property name="value" value="http://www2.lockss.org:8001/" />
     </property>
     <property name="param.2">
      <property name="key" value="volume_name" />
      <property name="value" value="83" />
     </property>
     <property name="param.3">
      <property name="key" value="journal_id" />
      <property name="value" value="00109" />
     </property>
     <property name="attributes.publisher" value="Springer-Verlag" />
    </property>

    <property name="JournalofMathematicalBiology51">
     <property name="title" value="Journal of Mathematical Biology Volume 51" />
     <property name="journalTitle" value="Journal of Mathematical Biology" />
     <property name="plugin" value="org.lockss.plugin.springer.SpringerSourcePlugin" />
     <property name="param.1">
      <property name="key" value="base_url" />
      <property name="value" value="http://www2.lockss.org:8001/" />
     </property>
     <property name="param.2">
      <property name="key" value="volume_name" />
      <property name="value" value="51" />
     </property>
     <property name="param.3">
      <property name="key" value="journal_id" />
      <property name="value" value="00285" />
     </property>
     <property name="attributes.publisher" value="Springer-Verlag" />
    </property>

  </property>
</lockss-config>
