<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article>
<article xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:xlink="http://www.w3.org/1999/xlink" dtd-version="1.2" article-type="abstract" xml:lang="en">
    <front>
        <journal-meta>
            <journal-id journal-id-type="publisher-id">41371</journal-id>
            <journal-id journal-id-type="doi">10.1038/41371.1476-5527</journal-id>
            <journal-title-group>
                <journal-title>Journal of Human Hypertension</journal-title>
                <abbrev-journal-title abbrev-type="publisher">J Hum Hypertens</abbrev-journal-title>
            </journal-title-group>
            <issn pub-type="ppub">0950-9240</issn>
            <issn pub-type="epub">1476-5527</issn>
            <publisher>
                <publisher-name>Nature Publishing Group UK</publisher-name>
                <publisher-loc>London</publisher-loc>
            </publisher>
        </journal-meta>
        <article-meta>
            <article-id pub-id-type="publisher-id">s41371-019-0217-8</article-id>
            <article-id pub-id-type="manuscript">217</article-id>
            <article-id pub-id-type="doi">10.1038/s41371-019-0217-8</article-id>
            <article-categories>
                <subj-group subj-group-type="heading">
                    <subject>Abstracts Collection</subject>
                </subj-group>
                <subj-group subj-group-type="NatureArticleTypeID">
                    <subject>abstracts-collection</subject>
                </subj-group>
            </article-categories>
            <title-group>
                <article-title xml:lang="en">Abstracts from the 2019 Annual Scientific Meeting of the British and Irish Hypertension Society (BIHS)</article-title>
            </title-group>
            <pub-date date-type="epub">
                <day>16</day>
                <month>9</month>
                <year>2019</year>
            </pub-date>
            <pub-date date-type="ppub">
                <month>9</month>
                <year>2019</year>
            </pub-date>
            <volume>33</volume>
            <issue seq="1">Suppl 1</issue>
            <issue-sponsor>All content was reviewed and approved by members of the British and Irish Hypertension Society, which held full responsibility for the abstract selections. Funding for the publication of this supplement was provided by the British and Irish Hypertension Society for the advancement of knowledge and dissemination of information concerning the pathophysiology, epidemiology, detection, investigation and treatment of arterial hypertension and related vascular diseases.</issue-sponsor>
            <fpage>1</fpage>
            <lpage>29</lpage>
            <history>
                <date date-type="registration">
                    <day>12</day>
                    <month>7</month>
                    <year>2019</year>
                </date>
                <date date-type="online">
                    <day>16</day>
                    <month>9</month>
                    <year>2019</year>
                </date>
            </history>
            <permissions>
                <copyright-statement>© The Author(s), under exclusive licence to Springer Nature Limited 2019</copyright-statement>
                <copyright-year>2019</copyright-year>
            </permissions>
            <conference>
                <conf-name>Annual Scientific Meeting of the British and Irish Hypertension Society (BIHS)</conf-name>
                <conf-loc>Edgbaston Park Hotel and Conference Centre, Birmingham</conf-loc>
                <conf-date>16 - 18 September 2019</conf-date>
            </conference>
            <custom-meta-group>
                <custom-meta>
                    <meta-name>publisher-imprint-name</meta-name>
                    <meta-value>Springer Nature</meta-value>
                </custom-meta>
            </custom-meta-group>
        </article-meta>
    </front>
    <body>
        <p id="Par1">Edgbaston Park Hotel and Conference Centre, Birmingham, 16–18 September 2019</p>
        <p id="Par2">
            <bold>Conference Organizer:</bold>
            In Conference Ltd on behalf of BIHS.
            <ext-link ext-link-type="uri" xlink:href="https://bihsoc.org/events/annual-scientific-meeting/">https://bihsoc.org/events/annual-scientific-meeting/</ext-link>
        </p>
        <p id="Par3">All content was reviewed and approved by members of the British and Irish Hypertension Society, which held full responsibility for the abstract selections.</p>
        <p id="Par4">
            <bold>Sponsorship:</bold>
            Funding for the publication of this supplement was provided by the British and Irish Hypertension Society for the advancement of knowledge and dissemination of information concerning the pathophysiology, epidemiology, detection, investigation and treatment of arterial hypertension and related vascular diseases.
        </p>
        <p id="Par5">Presenting authors have asterisks in the contributor lists</p>
        <sec id="Sec1">
            <title>O-01 Blood pressure and capillary microcirculation in term and preterm infants of mothers with hypertensive disorders of pregnancy</title>
            <sec id="Sec2">
                <title>
                    Muti Goloba
                    <sup>*1,2</sup>
                    , Rajendra Raghuraman
                    <sup>1</sup>
                    , Uzma Khan
                    <sup>1</sup>
                    , Nansi Botros
                    <sup>1</sup>
                    , Monique Klein
                    <sup>1</sup>
                    , Amelia Brown
                    <sup>1</sup>
                    , Donovan Duffy
                    <sup>2</sup>
                    , Nick Anim-Nyame
                    <sup>3</sup>
                    , Duolao Wang
                    <sup>4</sup>
                    , Isaac Manyonda
                    <sup>2</sup>
                    , Tarek Antonios
                    <sup>1,2</sup>
                </title>
                <sec id="Sec3">
                    <title>
                        <sup>1</sup>
                        St George’s University of London, London, United Kingdom,
                        <sup>2</sup>
                        St George’s University Hospitals NHS Foundation Trust, London, United Kingdom,
                        <sup>3</sup>
                        Kingston Hospital NHS Foundation Trust, London, United Kingdom,
                        <sup>4</sup>
                        Liverpool School of Tropical Medicine, Liverpool, United Kingdom
                    </title>
                    <p id="Par6">
                        <bold>Introduction:</bold>
                        Offspring of mothers with hypertensive disorders of pregnancy (HDP) are at increased future risk of hypertension, cardiovascular disease and stroke. The pathophysiological mechanisms for this association are not well understood, but microvascular abnormalities and in particular capillary rarefaction (CR) have been implicated. In a previous pilot study, we found that infants born pre-term to HDP mothers have significant CR at birth.
                    </p>
                    <p id="Par7">
                        <bold>Methods:</bold>
                        We studied 111 infants born to mothers with an HDP (90 born at term (T-HDP) and 21 born pre-term (PT-HDP) and compared them to 278 normal birth weight infants born at term to normotensive mothers (control group). We used intravital capillary microscopy to measure basal i.e. functional (BCD) and maximal i.e. structural (MCD) capillary densities and BP at birth, 3 months, 6 months and 12 months. We report here BP and capillary density results at birth.
                    </p>
                    <p id="Par8">
                        <bold>Results:</bold>
                        PT-HDP infants had a significantly higher BCD (mean difference 12.62 cap/field;
                        <italic>p</italic>
                         = 0.001) and (mean difference 17.26 cap/field;
                        <italic>p</italic>
                         &lt; 0.001) compared to T-HDP infants and controls respectively. T-HDP infants also had a significantly higher BCD (mean difference 4.64, cap/field;
                        <italic>p</italic>
                         = 0.012) compared to control infants). PT-HDP infants also had higher MCD (mean difference 10.53 cap/field;
                        <italic>p</italic>
                         = 0.003) and (mean difference 13.67 cap/field;
                        <italic>p</italic>
                         &lt; 0.001) respectively compared to T-HDP and control infants. Systolic BP was significantly higher in PT-HDP infants compared to control infants (mean difference 7.19 mmHg;
                        <italic>p</italic>
                         = 0.032). There were no significant differences in diastolic BP.
                    </p>
                    <p id="Par9">
                        <bold>Conclusions:</bold>
                        PT-HDP infants have a significantly higher systolic BP at birth compared to infants of normotensive mothers. Furthermore, PT-HDP have, contrary to our pilot study, a significantly higher BCD and MCD compared to NBW infants of normotensive mothers. Further follow-up studies of these infants are required to investigate the crucial role of microcirculatory abnormalities in the pathogenesis of future hypertension.
                    </p>
                    <p id="Par10">
                        <bold>Disclosure:</bold>
                        The study was funded by the BHF (PG/13/87/30550)
                    </p>
                </sec>
            </sec>
        </sec>
    </body>
</article>