<?xml version="1.0" encoding="UTF-8"?>
<!--

========================================================================
 $Id$
 Web services endpoint definitions.
========================================================================

Copyright (c) 2013-2015 Board of Trustees of Leland Stanford Jr. University,
all rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL
STANFORD UNIVERSITY BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as contained in this notice, the name of Stanford University shall not
be used in advertising or otherwise to promote the sale, use or other dealings
in this Software without prior written authorization from Stanford University.
========================================================================

-->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <jaxws:endpoint id="daemonStatusService" 
    implementor="org.lockss.ws.status.DaemonStatusServiceImpl" 
    address="/DaemonStatusService">
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

  <jaxws:endpoint id="counterReportsService" 
    implementor="org.lockss.ws.reports.CounterReportsServiceImpl" 
    address="/CounterReportsService">
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

  <jaxws:endpoint id="contentConfigurationService" 
    implementor="org.lockss.ws.content.ContentConfigurationServiceImpl" 
    address="/ContentConfigurationService">
  	<jaxws:inInterceptors>
  	  <bean class="org.lockss.ws.content.ContentConfigurationAuthorizer" />
  	</jaxws:inInterceptors>
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

  <jaxws:endpoint id="hasherService" 
    implementor="org.lockss.ws.hasher.HasherServiceImpl" 
    address="/HasherService">
  	<jaxws:inInterceptors>
  	  <bean class="org.lockss.ws.hasher.HasherAuthorizer" />
  	</jaxws:inInterceptors>
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

  <jaxws:endpoint id="contentService" 
    implementor="org.lockss.ws.content.ContentServiceImpl" 
    address="/ContentService">
  	<jaxws:inInterceptors>
  	  <bean class="org.lockss.ws.content.ContentAuthorizer" />
  	</jaxws:inInterceptors>
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

  <jaxws:endpoint id="metadataMonitorService" 
    implementor="org.lockss.ws.metadata.MetadataMonitorServiceImpl" 
    address="/MetadataMonitorService">
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>
 
  <jaxws:endpoint id="exportService"
    implementor="org.lockss.ws.export.ExportServiceImpl"
    address="/ExportService">
  	<jaxws:inInterceptors>
  	  <bean class="org.lockss.ws.export.ExportServiceAuthorizer" />
  	</jaxws:inInterceptors>
  	<jaxws:outFaultInterceptors>
  	  <bean class="org.lockss.ws.cxf.LockssFaultOutInterceptor" />
  	</jaxws:outFaultInterceptors>
  </jaxws:endpoint>

</beans>
