<map>
  <entry>
    <string>plugin_status</string>
    <string>development</string>
  </entry>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.api.SpringerApiPlugin</string>
  </entry>
  <entry>
    <string>plugin_version</string>
    <string>1</string>
  </entry>
  <entry>
    <string>plugin_feature_version_map</string>
    <map>
      <entry>
        <string>Poll</string>
        <string>1</string>
      </entry>
      <entry>
        <string>Substance</string>
        <string>1</string>
      </entry>
      <entry>
        <string>Metadata</string>
        <string>1</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>plugin_name</string>
    <string>Springer API Plugin</string>
  </entry>
  <entry>
    <string>au_permission_url</string>
    <list>
      <string>"%slockss.txt", base_url</string>
      <string>"%slockss.txt", api_url</string> 
    </list>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>api_url</key>
        <displayName>API URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>journal_issn</key>
        <displayName>Journal ISSN</displayName>
        <description>International Standard Serial Number.</description>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>volume_name</key>
        <displayName>Volume Name</displayName>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_name</string>
    <string>"Springer API Plugin, Base URL %s, ISSN %s, Volume %s", base_url, journal_issn, volume_name</string>
  </entry>
  <entry>
    <string>au_crawlrules</string>
    <list>
      <string>1,"%s", api_url</string>
      <string>4,"^%s", base_url</string>
      <string>1,"^https?://%s/.*\.(bmp|css|gif|ico|jpe?g|js|png|tif?f)$", base_url_host</string>
    </list>
  </entry>
  <entry>
    <string>au_def_new_content_crawl</string>
    <long>1209600000</long>
  </entry>
  <entry>
    <string>text/html_filter_factory</string>
    <string>org.lockss.plugin.springer.api.SpringerApiHtmlHashFilterFactory</string>
  </entry>
  <entry>
    <string>text/html_crawl_filter_factory</string>
    <string>org.lockss.plugin.springer.api.SpringerApiHtmlCrawlFilterFactory</string>
  </entry>
  <entry>
    <string>au_url_normalizer</string>
    <string>org.lockss.plugin.springer.api.SpringerApiUrlNormalizer</string>
  </entry>
  <entry>
    <string>plugin_crawl_seed_factory</string>
    <string>org.lockss.plugin.springer.api.SpringerApiCrawlSeedFactory</string>
  </entry>
  <entry>
    <string>au_def_pause_time</string>
    <long>5000</long>
  </entry>
</map>
