<!--

Copyright (c) 2000-2022, Board of Trustees of Leland Stanford Jr. University

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors
may be used to endorse or promote products derived from this software without
specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

-->
<map>
  <entry>
    <string>plugin_status</string>
    <string>deprecated - Needs AI ME RU4287.</string>
  </entry>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.SpringerLinkPlugin</string>
  </entry>
  <entry>
    <string>plugin_version</string>
    <string>55</string>
  </entry>
  <entry>
    <string>au_crawl_depth</string>
    <int>2</int>
  </entry>
  <entry>
    <string>plugin_feature_version_map</string>
    <map>
      <entry>
        <string>Poll</string>
        <string>16</string>
      </entry>
      <entry>
        <string>Substance</string>
        <string>3</string>
      </entry>
      <entry>
        <string>Metadata</string>
        <string>2</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>required_daemon_version</string>
    <string>1.69.5</string> <!-- for poll result weight map -->
  </entry>
  <entry>
    <string>plugin_name</string>
    <string>SpringerLink Journals Plugin (Legacy)</string>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>journal_issn</key>
        <displayName>Journal ISSN</displayName>
        <description>International Standard Serial Number.</description>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>volume_name</key>
        <displayName>Volume Name</displayName>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_name</string>
    <string>"SpringerLink Journals Plugin (Legacy), Base URL %s, ISSN %s, Volume %s", base_url, journal_issn, volume_name</string>
  </entry>
  <entry>
    <string>au_start_url</string>
    <string>"%scontent/%s/%s", base_url, journal_issn, volume_name</string>
  </entry>
  <entry>
    <string>au_feature_urls</string>
    <map>
      <entry>
        <string>au_title</string>
        <string>"%scontent/%s/", base_url, journal_issn</string>
      </entry>
      <entry>
        <string>au_volume</string>
        <string>"%scontent/%s/%s", base_url, journal_issn, volume_name</string>
      </entry>
      <entry>
        <string>au_issue</string>
        <string>"%scontent/%s/%s/%s/", base_url, journal_issn, volume_name, issue</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>au_crawlrules</string>
    <list>
      <string>4,"^%s", base_url</string>
      <string>2,"^%s(content/[A-Za-z0-9]{16}/(export-citation|referrers)/|.*\?(target=(export|print|save)|MUD=MP)|fulltext-image\.asp\?)", base_url</string>
      <string>1,"^https?://%s/.*\.(bmp|css|gif|ico|jpe?g|js|png|tif?f)$", base_url_host</string>
      <string>1,"^%s(content/(%s/%s($|/)|[A-Za-z0-9]{16}/)|dynamic-file\.axd)", base_url, journal_issn, volume_name</string>
    </list>
  </entry>
  <entry>
    <string>au_def_new_content_crawl</string>
    <long>1209600000</long>
  </entry>
  <entry>
    <string>plugin_fetch_rate_limiter_source</string>
    <string>key:Springer</string>
  </entry>
  <entry>
    <string>text/html_filter_factory</string>
    <string>org.lockss.plugin.springer.SpringerLinkHtmlHashFilterFactory</string>
  </entry>
  <entry>
    <string>text/css_filter_factory</string>
    <string>org.lockss.plugin.springer.SpringerLinkCssFilterFactory</string>
  </entry>
  <entry>
    <string>text/html_crawl_filter_factory</string>
    <string>org.lockss.plugin.springer.SpringerLinkHtmlCrawlFilterFactory</string>
  </entry>
  <entry>
    <string>plugin_cache_result_list</string>
    <list>
      <string>java.io.IOException=org.lockss.util.urlconn.CacheException$RetryableNetworkException_3_30S</string>
    </list>
  </entry>
  <entry>
    <string>au_substance_url_pattern</string>
    <list>
      <string>"^%scontent/[A-Za-z0-9]{16}/fulltext\.(html|pdf)$", base_url</string>
    </list>
  </entry>
  <entry>
    <string>au_http_cookie</string>
    <string>MUD=MP</string>
  </entry>
  <entry>
    <string>au_def_pause_time</string>
    <long>5000</long>
  </entry>
  <entry>
    <string>plugin_crawl_url_comparator_factory</string>
    <string>org.lockss.plugin.springer.SpringerLinkCrawlUrlComparatorFactory</string>
  </entry>
  <entry>
    <string>text/html_link_extractor_factory</string>
    <string>org.lockss.plugin.springer.SpringerLinkHtmlLinkExtractorFactory</string>
  </entry>
  <entry>
    <string>au_repair_from_peer_if_missing_url_pattern</string>
    <list>
      <string>"^%s(dynamic-file\.axd\?id=[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}|images/|[^/]+\.(bmp|css|gif|ico|jpe?g|js|png|tif?f))", base_url</string>
      <string>"^%sdynamic-file\.axd\?id=[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}", base_url</string>
      <string>"^%simages/", base_url</string>
      <string>"^%s[^/]+\.(bmp|css|gif|ico|jpe?g|js|png|tif?f)", base_url</string>
    </list>
  </entry>
  <entry>
    <string>au_url_poll_result_weight</string>
    <list>
      <string>"^%s(dynamic-file\.axd\?id=[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}|images/|[^/]+\.(bmp|css|gif|ico|jpe?g|js|png|tif?f))", base_url, 0</string>
      <string>"^%sdynamic-file\.axd\?id=[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}", base_url, 0</string>
      <string>"^%simages/", base_url, 0</string>
      <string>"^%s[^/]+\.(bmp|css|gif|ico|jpe?g|js|png|tif?f)", base_url, 0</string>
    </list>
  </entry>
</map>
