<map>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.SpringerSroucePlugin</string>
  </entry>
  <entry>
    <string>au_def_pause_time</string>
    <long>6000</long>
  </entry>
  <entry>
    <string>au_name</string>
    <string>&quot;Springer Source %s Volume %s&quot;, journal_id, volume_name</string>
  </entry>
  <entry>
    <string>au_def_new_content_crawl</string>
    <long>1209600000</long>
  </entry>
  <entry>
    <string>plugin_name</string>
    <string>Springer Source Plugin</string>
  </entry>
  <entry>
    <string>au_crawlrules</string>
    <list>
      <string>4,&quot;^%s&quot;, base_url</string>
      <string>2,&quot;\?C=[A-Z];O=[AD]$&quot;</string>
      <string>1,&quot;%sspringer/$&quot;, base_url</string>
      <string>1,&quot;%sspringer/PUB=Springer-Verlag-Berlin-Heidelberg/JOU=%s/VOL=%s/&quot;, base_url, journal_id, volume_name</string>
      <string>1,&quot;.*icons/[^/]+\.[^/]+$&quot;</string>
    </list>
  </entry>
  <entry>
    <string>au_start_url</string>
    <string>&quot;%sspringer/PUB=Springer-Verlag-Berlin-Heidelberg/JOU=%s/VOL=%s/&quot;, base_url, journal_id, volume_name</string>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>volume_name</key>
        <displayName>Volume Name</displayName>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>journal_id</key>
        <displayName>Journal Identifier</displayName>
        <description>Identifier for journal (often used as part of file names)</description>
        <type>1</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_manifest</string>
    <string>&quot;%sspringer/&quot;, base_url</string>
  </entry>
</map>