<!--

Copyright (c) 2000-2022, Board of Trustees of Leland Stanford Jr. University

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors
may be used to endorse or promote products derived from this software without
specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

-->
<map>
  <entry>
    <string>plugin_status</string>
    <string>ready</string>
  </entry>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkJournalsPlugin</string>
  </entry>
  <!-- https transition enabled -->    
  <entry>
    <string>plugin_name</string>
    <string>SpringerLink Journals Plugin</string>
  </entry>
  <entry>
    <string>plugin_version</string>
    <string>54</string>
  </entry>
  <entry>
    <string>plugin_feature_version_map</string>
    <map>
      <entry>
        <string>Poll</string>
        <string>32</string>
      </entry>
      <entry>
        <string>Substance</string>
        <string>6</string>
      </entry>
      <entry>
        <string>Metadata</string>
        <string>8</string>
      </entry>
    </map>
  </entry>
  <entry>
  <!--  urlGenerator not yet deployed - will need 1.73.0-->
    <string>required_daemon_version</string>
    <string>1.70.0</string>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
	  <!-- WARNING: Download URL is no longer used on the SpringerLink platform -->
      <org.lockss.daemon.ConfigParamDescr>
        <key>download_url</key>
        <displayName>Download URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>journal_eissn</key>
        <displayName>Journal eISSN</displayName>
        <description>Electronic International Standard Serial Number.</description>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>volume_name</key>
        <displayName>Volume Name</displayName>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_name</string>
    <string>"SpringerLink Journals Plugin, Base URL %s, Download URL %s [Not Used], eISSN %s, Volume %s", base_url, download_url, journal_eissn, volume_name</string>
  </entry>
  <!-- CrawlSeed takes precedence but leave it in for safety in case daemon expects it somewhere -->
  <entry>
    <string>au_start_url</string>
    <list>
      <string>"%slockss.txt", to_http(base_url)</string>
      <string>"%slockss.txt", to_https(base_url)</string>
    </list>
  </entry>
<!--  support http to https transition for existing AUs -->  
  <entry>
    <string>plugin_url_consumer_factory</string>
    <string>org.lockss.plugin.base.HttpToHttpsUrlConsumerFactory</string>
  </entry>
  <entry>
    <string>plugin_url_fetcher_factory</string>
    <string>org.lockss.plugin.base.HttpToHttpsUrlFetcherFactory</string>
  </entry>
<!--  end http to https transition specific support  -->  
  <entry>
    <string>au_feature_urls</string>
    <map>
      <entry>
      <!--  we don't want this to default to start_url because we need the synthetic url -->
        <string>au_volume</string>
        <string>org.lockss.plugin.springer.link.SpringerLinkFeatureUrlHelperFactory</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>au_permission_url</string>
    <list>
      <string>"%slockss.txt", to_http(base_url)</string>
      <string>"%slockss.txt", to_https(base_url)</string>
    </list>
  </entry>
  <entry>
    <string>au_crawlrules</string>
    <list>
      <!--
         https://link.springer.com/article/10.1023/B%3AJOGC.0000013193.80539.d1
         Redirected to excluded URL:
         https://idp.springer.com/authorize?response_type=cookie&client_id=springerlink&redirect_uri=https://link.springer.com/article/10.1023/B:JOGC.0000013193.80539.d1
      -->
      <string>1,"^https?://idp.springer.com"</string>
      <string>1,"^https?://(%s|%s|(rd|static-content)\.springer\.com)/.*\.(bmp|css|eot|gif|ico|jpe?g|js|otf|png|svg|tif?f|ttf|woff)(\?config=[^/]*)?$", url_host(base_url), url_host(download_url)</string>
      <string>2,"\?view=classic$",  url_host(base_url)</string>
      <string>1,"^https?://%s/auid=.*$", url_host(base_url)</string>
      <string>2,"^https?://%s/content/pdf/(bbm|bfm)",  url_host(base_url)</string>
      <string>1,"^https?://%s/download/epub/",  url_host(base_url)</string>
      <string>1,"^https?://%s/(content|article)/",  url_host(base_url)</string>
      <string>1,"^https?://%s/(springerlink-)?static/", url_host(base_url)</string>
      <string>1,"^https?://(%s|static-content\.springer\.com/).*\.pdf$", url_host(base_url)</string>
      <string>1,"^https?://%s/signup-login", base_url_host</string>
    </list>
  </entry>
  <entry>
    <string>au_substance_url_pattern</string>
    <list>
    <!-- full  pdf:  http://link.springer.com/content/pdf/10.1007%2fs00159-014-0071-1.pdf-->
    <!-- full html:  http://link.springer.com/article/10.1007/s00159-014-0071-1/fulltext.html -->
      <string>"^%s(article|content/pdf)/[.0-9]+(/|%%2F)[^\?&amp;]+(\.pdf|/fulltext\.html)$", base_url</string>
    </list>
  </entry>
  <entry>
    <string>au_refetch_depth</string>
    <int>1</int>
  </entry>
  <entry>
    <string>plugin_crawl_seed_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkJournalsCrawlSeedFactory</string>
  </entry>
  <entry>
    <string>plugin_access_url_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkFeatureUrlHelperFactory</string>
  </entry>    
  <entry>
    <string>plugin_url_fetcher_factory</string>
    <string>org.lockss.plugin.base.HttpToHttpsUrlFetcherFactory</string>
  </entry>
  <entry>
    <string>text/html_crawl_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkHtmlCrawlFilterFactory</string>
  </entry>
  <entry>
    <string>text/html_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkHtmlHashFilterFactory</string>
  </entry>
  <entry>
    <string>application/pdf_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkScrapingPdfFilterFactory</string>
  </entry>
  <entry>
    <string>plugin_article_iterator_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkArticleIteratorFactory</string>
  </entry>
  <entry>
    <string>plugin_article_metadata_extractor_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkArticleIteratorFactory</string>
  </entry>
  <entry>
    <string>au_login_page_checker</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkLoginPageChecker</string>
  </entry>
  <entry>
    <!-- currenlty, this is not a redirect, but in case they do it in the future, lets get ahead of the problem.
      https://link.springer.com/signup-login?previousUrl=https%3A%2F%2Flink.springer.com%2Farticle%2F10.1007%2Fs40274-019-5989-0
      -->
    <string>au_redirect_to_login_url_pattern</string>
    <string>"^https?://%s/signup-login.*", base_url_host</string>
  </entry>
  <entry>
    <string>plugin_cache_result_list</string>
    <list>
      <string>403=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
      <string>404=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
      <string>500=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
      <string>org.lockss.plugin.ContentValidationException$WrongLength=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
    </list>
  </entry>
  <entry>
    <string>text/html_metadata_extractor_factory_map</string>
    <map>
      <entry>
        <string>*;DublinCore</string>
        <string>org.lockss.plugin.springer.link.SpringerLinkJournalsHtmlMetadataExtractorFactory</string>
      </entry>
    </map>
  </entry>
  <entry>
    <!-- the au_permitted_host_pattern must also find match in lockss-daemon config
         org.lockss.crawler.allowedPluginPermittedHosts -->
    <string>au_permitted_host_pattern</string>
    <list>
      <string>(api|rd|static-content)\.springer\.com</string>
      <!--
         https://link.springer.com/article/10.1023/B%3AJOGC.0000013193.80539.d1
         Redirected to excluded URL:
         https://idp.springer.com/authorize?response_type=cookie&client_id=springerlink&redirect_uri=https://link.springer.com/article/10.1023/B:JOGC.0000013193.80539.d1
      -->
      <string>idp\.springer\.com</string>
    </list>
  </entry>
  <entry>
    <string>au_def_new_content_crawl</string>
    <long>1209600000</long>
  </entry>
  <entry>
    <string>au_def_pause_time</string>
    <long>3000</long>
  </entry>
  <!-- The css, images, js and sites files have a changing number in the url for journals -->    
  <!-- eg:(base_url)static/201602081740-1199/css/print.css -->  
  <!-- don't count it in the poll, but do collect and share versions -->  
  <entry>
    <string>au_repair_from_peer_if_missing_url_pattern</string>
    <list>
      <string>/(springerlink-)?static/.*\.(png|css|js|gif|ico)$</string>
      <string>^https://static-content\.springer\.com/cover/</string>
    </list>
  </entry>
  <entry>
    <string>au_url_poll_result_weight</string>
    <list>
      <string>"/(springerlink-)?static/.*\.(png|css|js|gif|ico)$", 0</string>
      <string>"/article/[^/]+/[^/.]+/fulltext.html$", 0</string>
      <string>"^https://static-content\.springer\.com/cover/", 0</string>
      <!--  no longer used because this is a CDN now -->
      <string>"^https://api\.springer\.com/lockss\.txt$", 0</string>
      <string>"auid=.*$", 0</string>
    </list>
  </entry>
</map>
