<map>
  <entry>
    <string>plugin_status</string>
    <string>development</string>
  </entry>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkJournalsPlugin</string>
  </entry>
  <entry>
    <string>plugin_name</string>
    <string>SpringerLink Journals Plugin</string>
  </entry>
  <entry>
    <string>plugin_version</string>
    <string>11</string>
  </entry>
  <entry>
    <string>plugin_feature_version_map</string>
    <map>
      <entry>
        <string>Poll</string>
        <string>6</string>
      </entry>
      <entry>
        <string>Substance</string>
        <string>3</string>
      </entry>
      <entry>
        <string>Metadata</string>
        <string>3</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>plugin_parent</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkBooksPlugin</string>
  </entry>
  <entry>
    <string>plugin_parent_version</string>
    <string>7</string>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>download_url</key>
        <displayName>Download URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>journal_issn</key>
        <displayName>Journal ISSN</displayName>
        <description>International Standard Serial Number.</description>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>volume_name</key>
        <displayName>Volume Name</displayName>
        <type>1</type>
        <size>20</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_name</string>
    <string>"SpringerLink Journals Plugin, Base URL %s, Download URL %s, ISSN %s, Volume %s", base_url, download_url, journal_issn, volume_name</string>
  </entry>
  <!-- overrides parents start url, but not used by crawl seed -->
  <entry>
    <string>au_start_url</string>
    <string>"%s", base_url</string>
  </entry>
  <entry>
    <string>au_substance_url_pattern</string>
    <list>
    <!-- full  pdf:  http://link.springer.com/content/pdf/10.1007%2fs00159-014-0071-1.pdf-->
    <!-- full html:  http://link.springer.com/article/10.1007/s00159-014-0071-1/fulltext.html -->
      <string>"^%s(article|content/pdf)/[.0-9]+(/|%%2F)[^\?&amp;]+(\.pdf|/fulltext\.html)$", base_url</string>
    </list>
  </entry>
  <entry>
    <string>plugin_crawl_seed_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkJournalsCrawlSeedFactory</string>
  </entry>
  <entry>
    <string>text/html_metadata_extractor_factory_map</string>
    <map>
      <entry>
        <string>*;DublinCore</string>
        <string>org.lockss.plugin.springer.link.SpringerLinkJournalsHtmlMetadataExtractorFactory</string>
      </entry>
    </map>
  </entry>
</map>
