<!--

Copyright (c) 2000-2022, Board of Trustees of Leland Stanford Jr. University

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors
may be used to endorse or promote products derived from this software without
specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

-->
<map>
  <entry>
    <string>plugin_status</string>
    <string>ready</string>
  </entry>
  <entry>
    <string>plugin_identifier</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkBooksPlugin</string>
  </entry>
  <entry>
    <string>plugin_name</string>
    <string>SpringerLink Books Plugin</string>
  </entry>
  <entry>
    <string>plugin_version</string>
    <string>29</string>
  </entry>
  <entry>
    <string>plugin_feature_version_map</string>
    <map>
      <entry>
        <string>Poll</string>
        <string>17</string>
      </entry>
      <entry>
        <string>Substance</string>
        <string>4</string>
      </entry>
      <entry>
        <string>Metadata</string>
        <string>5</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>required_daemon_version</string>
    <string>1.70.0</string>
  </entry>
  <entry>
    <string>plugin_config_props</string>
    <list>
      <org.lockss.daemon.ConfigParamDescr>
        <key>base_url</key>
        <displayName>Base URL</displayName>
        <description>Usually of the form http://&lt;journal-name&gt;.com/</description>
        <type>3</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
      <org.lockss.daemon.ConfigParamDescr>
        <key>book_eisbn</key>
        <displayName>Book eISBN</displayName>
        <description>Online International Standard Book Number</description>
        <type>1</type>
        <size>40</size>
        <definitional>true</definitional>
        <defaultOnly>false</defaultOnly>
      </org.lockss.daemon.ConfigParamDescr>
    </list>
  </entry>
  <entry>
    <string>au_name</string>
    <string>"SpringerLink Books Plugin, Base URL %s, eISBN %s", base_url, book_eisbn</string>
  </entry>
  <entry>
    <string>au_start_url</string>
    <!-- Start url is http(s)://springer.link.com/[eisbn] which redirects to http(s)://springer.link.com/book/[doi]
    We would rather hard code in a eisbn then a DOI-->
    <list>
      <string>"%s%s", to_http(base_url), book_eisbn</string>
      <string>"%s%s", to_https(base_url), book_eisbn</string>
    </list>
  </entry>
  <entry>
    <string>au_permission_url</string>
    <list>
      <string>"%slockss.txt", to_http(base_url)</string>
      <string>"%slockss.txt", to_https(base_url)</string>
    </list>
  </entry>
  <!-- While chapters are included in the crawl rules to expedite crawls and avoid double collection They are not collected. 
  We just point chapter links to the full book link.-->
  <entry>
    <string>au_crawlrules</string>
    <list>
      <string>1,"^https?://(%s|(rd|static-content)\.springer\.com)/.*\.(bmp|css|eot|gif|ico|jpe?g|js|otf|png|svg|tif?f|ttf|woff)(\?config=[^/]*)?$", url_host(base_url)</string>
      <string>2,"^https?://%s/content/pdf/(bbm|bfm)",  url_host(base_url)</string>
      <string>1,"^https?://%s/auid=.*$", url_host(base_url)</string>
      <string>1,"^https?://%s/download/epub/",  url_host(base_url)</string>
      <string>1,"^https?://%s/(content|chapter|book|article|referencework)/",  url_host(base_url)</string>
      <string>1,"^https?://(%s|static-content\.springer\.com/).*\.pdf$", url_host(base_url)</string>
    </list>
  </entry>
  <entry>
    <string>au_substance_url_pattern</string>
    <list>
      <!--  http://link.springer.com/content/pdf/10.1007%2F978-3-319-18518-7.pdf-->
      <string>"^%scontent/pdf/[.0-9]+(/|%%2F)%s\.pdf$", base_url, book_eisbn</string>
      <!-- -->
      <string>"^%scontent/pdf/[.0-9]+(/|%%2F)[\d-]{13,17}\.pdf$", base_url</string>
    </list>
  </entry>
  <entry>
    <string>au_url_normalizer</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkUrlNormalizer</string>
  </entry>
  <entry>
    <string>plugin_url_fetcher_factory</string>
    <string>org.lockss.plugin.base.HttpToHttpsUrlFetcherFactory</string>
  </entry>
  <entry>
    <string>text/html_crawl_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkHtmlCrawlFilterFactory</string>
  </entry>
  <entry>
    <string>text/html_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkBooksHtmlHashFilterFactory</string>
  </entry>
  <entry>
    <string>application/pdf_filter_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkScrapingPdfFilterFactory</string>
  </entry>
  <entry>
    <string>plugin_article_iterator_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkArticleIteratorFactory</string>
  </entry>
  <entry>
    <string>plugin_article_metadata_extractor_factory</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkArticleIteratorFactory</string>
  </entry>
  <entry>
    <string>au_login_page_checker</string>
    <string>org.lockss.plugin.springer.link.SpringerLinkLoginPageChecker</string>
  </entry>
  <entry>
    <string>plugin_cache_result_list</string>
    <list>
      <string>404=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
      <string>500=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
      <string>org.lockss.plugin.ContentValidationException$WrongLength=org.lockss.plugin.springer.link.SpringerLinkHttpResponseHandler</string>
    </list>
  </entry>
  <entry>
    <string>text/html_metadata_extractor_factory_map</string>
    <map>
      <entry>
        <string>*;DublinCore</string>
        <string>org.lockss.plugin.springer.link.SpringerLinkBooksHtmlMetadataExtractorFactory</string>
      </entry>
    </map>
  </entry>
  <entry>
    <!-- the au_permitted_host_pattern must also find match in lockss-daemon config
         org.lockss.crawler.allowedPluginPermittedHosts -->
    <string>au_permitted_host_pattern</string>
    <string>(rd|static-content)\.springer\.com</string>
  </entry>
  <entry>
    <string>au_def_new_content_crawl</string>
    <long>1209600000</long>
  </entry>
  <entry>
    <string>au_def_pause_time</string>
    <long>3000</long>
  </entry>
  <entry>
    <string>au_repair_from_peer_if_missing_url_pattern</string>
    <list>
      <string>/static/.*\.(png|css|js|gif)$</string>
    </list>
  </entry>
  <entry>
    <!-- these will not count towards poll results but will replicate from peer if above -->
    <string>au_url_poll_result_weight</string>
    <list>
      <string>"/static/.*\.(png|css|js|gif)$", 0</string>
      <string>"auid=.*$", 0</string>
    </list>
  </entry>
</map>
